/*
COLOR PALETTE
https://coolors.co/ff6666-465c69-92b4a7-e8d6cb-36393b

#B4EDD2   - MINT
#A0CFD3   - LIGTH BLUE
#818D92   - SLATE
#FCC8B2   - SALMON
#E8EDDF   - BEIGE
rgb(68, 71, 73)  - DARK GREY
*/




body {
   display: flexbox;
    margin:0;
    padding:0;
    min-width: 550px;
    font-size: 16pt;         
    background-color:0;
    color: rgb(68, 71, 73);
    font-family: Arial, Helvetica, sans-serif;
        }
}
img {
       
    width: 300px;
       
}
.north {
  
  max-width: 550px;
  max-height:675px;

}



.content-wrap{
    width: 777px;
    margin: 0 auto;
    padding: 50px 0;
   
}

.magazine {
    
   max-width: 550px;
  max-height:675px;
}
.info {

    max-width: 550px;
  max-height:725px;
}



h1{
    font-size: 35pt;
   
}
h2 {
    
    margin: 0;
    font-size: 25pt;
}
h3{
    font-size:22pt;
}

h4{
    font-style: italic;
}
.projectname{
    font-style: italic;
}

.location {
    font-weight: bold;
    font-size: 20pt;
}
.date{
    font-style: italic;
}
.intro{
    font-style: italic;
}
.vhive {
    background: white;
    padding: 5px;
    border-radius: 6px;
    font-weight: bold;
    display: inline-block;

}
a {
    text-decoration: none;
    color:rgb(147, 79, 71);
    
}
a:hover{
    background-color: lightgrey;
}
header {
    background:#B4EDD2;
    text-align: center;
    
 
}
.projects {
    background:#818D92;
    color: white;

}

.work {
    background: #A0CFD3;;

}

.edu{
    background:#E8EDDF;
  
}

footer {
    background-color: #FCC8B2  ;
    color:white;
  
}