/*
COLOR PALETTE
https://coolors.co/ff6666-465c69-92b4a7-e8d6cb-36393b

#B4EDD2   - MINT
#A0CFD3   - LIGTH BLUE
#818D92   - SLATE
#FCC8B2   - SALMON
#E8EDDF   - BEIGE
rgb(68, 71, 73)  - DARK GREY
*/




body {
   display: flexbox;
    padding: 0em 2em 0em 2em;
    margin:.55in;
    min-width: 550px;
    font-size: 16pt;         
    background-color:0;
    color: rgb(68, 71, 73);
    font-family: Arial, Helvetica, sans-serif;
        }
}
img {
       
    width: 300px;
       
}
.north {
  
  max-width: 550px;
  max-height:675px;


    


}
.magazine {
    
   max-width: 550px;
  max-height:675px;
}
.info {

    max-width: 550px;
  max-height:725px;
}



h1{
    font-size: 35pt;
   
}
h2 {
    font-size: 25pt;
}
h3{
    font-size:22pt;
}
.projectname{
    font-style: italic;
}

.location {
    font-weight: bold;
    font-size: 20pt;
}
.date{
    font-style: italic;
}
.intro{
    font-style: italic;
}
.vhive {
    background: white;
    padding: 5px;
    border-radius: 6px;
    font-weight: bold;

}
a {
    text-decoration: none;
    color:rgb(147, 79, 71);
    
}
a:hover{
    background-color: lightgrey;
}
header {
    background:#B4EDD2;
 height:100%
    text-align: center;
    padding: 5em 3em 5em 3em;
 
}
.projects {
    background:#818D92;
    color: white;
 height:100%;
padding: 5em 3em 5em 3em;
}

.work {
    background: #A0CFD3;;
  height:100%;
  padding:5em 3em 5em 3em;
}

.edu{
    background:#E8EDDF;
    height: 100%;
    padding:5em 3em 5em 3em;
}

footer {
    background-color: #FCC8B2  ;
    color:white;
    height: 100%;
    padding: 1em 2em 1em 2em
}